# Note -- It is better to have specified exact files to ignore rather than using wildcards such as '**' or '*'.

# ENV Files

# Database Files
AI_MERCH_STORE_database_data

# Node.js (server-side) related files
server/node_modules
server/logs
server/tmp
server/*.log

# Build outputs
server/dist

# React app (client-side) related files
client/node_modules
client/.cache
client/build


# Common files to ignore
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log